google-chrome/
/TabNine/
btop/
discord/
BraveSoftware/
autostart/
arkrc
2048-qt/
cef_user_data/
dconf/
JetBrains/
MediaHuman/
MediaHuman.conf
menus/
mimeapps.list/
neofetch/
mpv/
openbox/
pavucontrol-qt/
pavucontrol.ini
vlc/
zoomus.conf
featherpad/
fontconfig/
gtk-2.0/
gtk-3.0/
guake/
htop/
ibus/
kcalarc
kdeglobals
liberoffice/
lximage-qt/
lxqt/
matplotlib/
nitrogen/
omf/
procps/
Qlipper/
qpdfview/
qterminal.org/
QtProject.conf
quassel-irc.org/
quasselrc
screengrab/
transmission/
pulse/

